# Prisma / app
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/notionback?schema=public"
FRONT_URL='http://localhost:3000'
PORT=8000

# Redis (локально)
REDIS_HOST='localhost'
REDIS_PORT=6379

# Auth (обязательно поменяй на реальные секреты)
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=2592000
JWT_ACCESS_SECRET='change_me_access_token'
JWT_REFRESH_SECRET='change_me_refresh_token'

BCRYPT_SALT_ROUNDS=10

MAX_WORKSPACES_PER_USER=3

# Docker Compose (для docker-compose.yml)
POSTGRES_DB=notionback
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
APP_PORT=8000